<?xml version="1.0" encoding="UTF-8"?>

<!-- generated on 12/19/19 22:06:10 by Eclipse SUMO netedit Version 1.3.1
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://sumo.dlr.de/xsd/netconvertConfiguration.xsd">

    <input>
        <sumo-net-file value="C:\Users\HP%20NoteBoooK\Desktop\smthg\shit.net.xml"/>
    </input>

    <output>
        <output-file value="C:\Users\HP%20NoteBoooK\Desktop\smthg\shit.net.xml"/>
    </output>

    <processing>
        <geometry.max-grade.fix value="false"/>
        <offset.disable-normalization value="true"/>
        <opposites.guess.fix-lengths value="true"/>
        <lefthand value="false"/>
    </processing>

    <junctions>
        <no-turnarounds value="true"/>
        <junctions.corner-detail value="5"/>
        <junctions.limit-turn-speed value="5.5"/>
        <rectangular-lane-cut value="false"/>
    </junctions>

    <pedestrian>
        <walkingareas value="false"/>
    </pedestrian>

    <netedit>
        <route-files value="C:\Users\HP%20NoteBoooK\Desktop\smthg\fucking%20shit.xml"/>
    </netedit>

</configuration>
-->

<routes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://sumo.dlr.de/xsd/routes_file.xsd">
    <route edges="-38517884#2 -38517884#1 -38517884#0" color="yellow" id="route_0"/>
    <route edges="38517884#0 38517884#1 38517884#2" color="yellow" id="route_1"/>
    <route edges="38785116#0 38518014#2" color="yellow" id="route_10"/>
    <route edges="38785116#0 38785116#1 38517884#2" color="yellow" id="route_11"/>
    <route edges="-38518014#2 -38518014#1 38785118#1" color="yellow" id="route_12"/>
    <route edges="38785116#0 38785116#1 -38517884#1 38785118#0 38518014#1 38518014#2" color="yellow" id="route_13"/>
    <route edges="-38518014#2 -38518014#1 -38518014#0" color="yellow" id="route_2"/>
    <route edges="38518014#0 38518014#1 38518014#2" color="yellow" id="route_3"/>
    <route edges="38517884#0 38517884#1 38517891" color="yellow" id="route_4"/>
    <route edges="-38517884#2 -38517884#1 38785118#0 38785118#1" color="yellow" id="route_5"/>
    <route edges="-38517884#2 -38517884#1 38785118#0 38518014#1 38518014#2" color="yellow" id="route_6"/>
    <route edges="-38517884#2 -38517884#1 38785118#0 38518014#1 38785116#1 38517891" color="yellow" id="route_7"/>
    <route edges="-38518014#2 38785116#1 38517891" color="yellow" id="route_8"/>
    <route edges="38785116#0 38785116#1 38517891" color="yellow" id="route_9"/>
    <flow id="routeFlow_0" begin="0.00" route="route_4" end="3600.00" number="1800"/>
    <flow id="routeFlow_1" begin="0.00" route="route_0" end="3600.00" number="1800"/>
    <flow id="routeFlow_10" begin="0.00" color="0,128,0" route="route_2" end="3600.00" number="1800"/>
    <flow id="routeFlow_11" begin="0.00" color="red" route="route_8" end="3600.00" number="1800"/>
    <flow id="routeFlow_12" begin="0.00" color="red" route="route_7" end="3600.00" number="1800"/>
    <flow id="routeFlow_13" begin="0.00" color="red" route="route_0" end="3600.00" number="1800"/>
    <flow id="routeFlow_14" begin="0.00" color="red" route="route_0" end="3600.00" number="1800"/>
    <flow id="routeFlow_15" begin="0.00" color="red" route="route_0" end="3600.00" number="1800"/>
    <flow id="routeFlow_16" begin="0.00" color="red" route="route_4" end="3600.00" number="1800"/>
    <flow id="routeFlow_2" begin="0.00" color="cyan" route="route_7" end="3600.00" number="1800"/>
    <flow id="routeFlow_3" begin="0.00" color="128,0,128" route="route_10" end="3600.00" number="1800"/>
    <flow id="routeFlow_4" begin="0.00" color="128,0,0" route="route_5" end="3600.00" number="1800"/>
    <flow id="routeFlow_5" begin="0.00" color="0,128,128" route="route_7" end="3600.00" number="1800"/>
    <flow id="routeFlow_6" begin="0.00" color="blue" route="route_5" end="3600.00" number="1800"/>
    <flow id="routeFlow_7" begin="0.00" color="blue" route="route_3" end="3600.00" number="1800"/>
    <flow id="routeFlow_8" begin="0.00" color="blue" route="route_7" end="3600.00" number="1800"/>
    <flow id="routeFlow_9" begin="0.00" color="green" route="route_8" end="3600.00" number="1800"/>
</routes>
